{% extends "base.html" %}

{% block content %}
<h1>Sign Up</h1>

<form action="/submission" method="POST">
<table>
    <tr>
        <td><p><label for="username">Username:</label></p></td>
        <td><textarea id="username" type="text" name="username">{{username}}</textarea></td>
        {% if name_err %}
            <td><p class="error">{{name_err}}</p></td>
        {% endif %}
    </tr>
    <tr>
        <td><p><label for="password">Password:</label></p></td>
        <td><textarea id="password" type="password" name="password"></textarea></td>
        {% if password_err %}
            <td><p class="error">{{password_err}}</p></td>
        {% endif %}
    </tr>
    <tr>
        <td><p><label for="verify">Verify Password:</label></p></td>
        <td><textarea id="verify" type="password" name="verify"></textarea></td>
        {% if verify_err %}
            <td><p class="error">{{verify_err}}</p></td>
        {% endif %}
    </tr>

    <tr>
        <td><p><label for="email">Email (optional):</label></p></td>
        <td><textarea id="email" type="text" name="email">{{email}}</textarea></td>
        {% if email_err %}
            <td><p class="error">{{email_err}}</p></td>
        {% endif %}
    </tr>
</table>
<input type="submit" value="Sign Up">
</form>

{% endblock %}